*{
    padding: 0;
    margin: 0;
}

ul{
    background-color: #0f9bd3;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
}

li{
    float: left;
}

li a{
    display: block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: darkgray;
}

.activo{
    background-color: rgb(20, 31, 185);
    color: white;
}

header{
    margin: 15px 20px;
    height: 100%;
    background-color: #195044;
    color: white;
}

header h1{
    text-align: center;
    padding: 15px;
}

.container{
    margin: 20px 25px;
    background-color: #1b5b85;
}

.container img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contacto{
    width: 90%;
    margin: 15px auto;
    background: #a7a6a6;
    padding: 10px;
    border-radius: 15px;
}

form label{
    display: block;
    margin: 10px;
    color: white;
}

form input{
    display: block;
    margin: 10px;
}

form .boton{
    margin: 10px;
    background: #200ae4;
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
}